@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  /* COLORS */
  --primary: #fcfcfc;
  --secondary: #f7f7f2;

  /* FONT COLORS */
  --prime-font-color: #383838;

  /* FONTS */
  --main-font: "Fira Sans", Sans-Serif;
  /* --heading-h1-font: 'Sorts Mill Goudy', serif; */
  --heading-h1-font: "Poppins", sans-serif;
  --heading-h2-font: "Lato", sans-serif;
  --heading-h3-font: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
}

h3 {
  font-size: 1rem;
  font-weight: 100;
  color: rgb(51, 140, 196);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.logo-container {
  width: 3.5rem;
}

.logo {
  display: block;
  object-fit: cover;
  width: 100%;
}

#logo-heading {
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: chartreuse; */
}

.main-container {
  display: flex;
  /* justify-content: space-around; */
  width: 90%;
  height: 80vh;
  border-radius: 2rem;
  /* background-color: brown; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 2rem 2rem;
}

/* ------------------LEFT SIDE---------------- */

.time-container {
  /* background-color: aqua; */
  width: 50%;
  padding-left: 2rem;
  padding-top: 1rem;
}

#time {
  /* background: tomato; */
  position: relative;
  left: -0.3rem;
  font-weight: 700;
}

#date {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 1.2rem;
  font-weight: 800;
}

#punch-in-time {
  /* background-color: bisque; */
  display: block;
  margin-top: 4rem;
  position: relative;
  left: -0.3rem;
}

#punch-in-text {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

#hours-worked {
  display: block;
  margin-top: 4rem;
  position: relative;
  left: -0.3rem;
}

#hours-worked-text {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.btn-container{
  padding-top: 4rem;
  display: flex;
  align-items: center;
  /* background-color: blanchedalmond; */
}

#btn-punch {
  display: block;
  background-color: #22d41b;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 10rem;
  padding: 1.2rem 2rem;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}

#btn-punch:hover {
  background-color: #16a111;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition-duration: 0.5s;
  font-weight: bold;
}

.p-msg{
  /* background-color: red; */
  padding-left: 1rem;
  color: var(--prime-font-color);
  font-size: 1.5rem;
}
/* ------------------Seperator---------------- */
.vert-line {
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
  width: 1.5px;
  height: 30vh;
  /* position: absolute; */
  /* left: 50; */
  /* transform: translate(-50,-50); */
  background-color: rgba(44, 44, 44, 0.39);
}


/* ------------------RIGHT SIDE---------------- */

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blueviolet; */
  width: 50%;
  flex-grow: 1;
}

/* ---------------TABLE---------------- */

.table-div {
  width: 90%;
  /* background-color: tomato; */
}

#atd-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#atd-table thead tr {
  background-color: #2e2e2e;
  color: #ffffff;
  text-align: left;
}
table th:first-child {
  border-radius: 10px 0 0 0px;
}

table th:last-child {
  border-radius: 0 10px 0 0;
}

#atd-table th,
#atd-table td {
  padding: 12px 15px;
}

#atd-table tr {
  border-bottom: 1px solid #c0bfbf75;
}

#atd-table tr:not(thead tr):hover {
  background-color: rgb(207, 207, 207) !important;
}

#atd-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

#atd-table tbody tr:last-of-type {
  border-bottom: 3px solid #3f3f3f;
}
/* ------------------------------- */


@media () {
  
}